html {
    background-color: #06274F;
    color:#FFFFFF;

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

a {
    color:#C8102E;
}

header {
    text-align: center;
    padding-bottom: 1em;
}

#bio {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5em;
}
#bio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#linksToStuff {
    text-align: center;
    padding: 3em;
    border-style: dashed;
    margin-bottom: 3em;
}



