html {
    background-color: white;
    color: #06274f;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}

header {
    font-family: futura-pt, sans-serif;
}

#site-banner {
    display: flex;
    flex-direction: row;
    height: 3em;
    width: 100%;
    background-color: #06274f;
    margin-bottom: 2em;
}

#site-banner a {
    color: white;
    font-size: 2em;
    margin-top: .33em;
    align-content: center;
    padding-right: 3em;
}

#main-block {
    display: flex;
    flex-direction: row;
}

a {
    color:#C8102E;
}

#bio {
    margin: 25px;
}

#importantLinks {
    text-align: center;
    margin-top: 93px; 
    padding: 5px;
    border-style: dashed;
}



