html {
    background-color: white;
    color: #06274f;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}

header {
    font-family: Futura, sans-serif;
}

#site-banner {
    display: flex;
    flex-direction: row;
    height: 3em;
    width: 100%;
    background-color: #06274f;
    margin-bottom: 2em;
}

#site-banner a {
    color: white;
    font-size: 2em;
    align-content: center;
    padding-right: 2em;
    padding-left: 0.5em;
    text-decoration: none;
}

.nav-buttons {
    background-color: #06274f;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 0.3em;
    margin-right: 0.3em;
    font-size: 20px;
    border: solid #06274f;
    transition-duration: 0.4s;
    margin-bottom: 0.5em;
    font-family: Futura, sans-serif;
}

.nav-buttons:hover {
    background-color: white;
    color: #06274f;
}

#blog-navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blog-header {
    font-family: Futura, sans-serif;
}

#blog-content {

}
